@import "variables";
@import "mixins";
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;
        @include mobile{
            // padding: 0 0;
        }

        a {
            text-decoration: none;
            color: black;
            @include tablet{
                font-size: 40px;
            }
            @include mobile{
                font-size: 40px;
            }
        }

        ul {
            display: flex;
            column-gap: 50px;

            li {
                a {
                    text-decoration: none;
                    color: black;
                }

                &:hover {
                    text-decoration-line: underline;
                    // transition: all .35s ease-in-out;
                }
            }
            @include tablet{
                display: none !important;
            }
            @include mobile{
                display: none;
            }
        }
        i{
            display: none;
            @include tablet{
                display: block;
                font-size: 35px;
            }
            @include mobile{
                display: block;
                font-size: 30px;
            }
        }
    }
}

.first--screen {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    background-color: black;
    // background-position: center;
    @include mobile{

    }

    p {
        color: white;
        @include tablet{
            font-size: 20px;
        }
    }

    a {
        color: white;
        text-decoration-line: underline;
        @include tablet{
            font-size: 20px;
        }
    }
}

.second--screen {
    width: 100%;
    background-color: brown;
    display: flex;
    // justify-content: center;
    align-items: center;
    @include tablet{
        display: flex;
        flex-direction: column-reverse;
    }
    @include mobile{

    }
    .second--image {
        width: 50%;
        padding-left: 20px;
        @include mobile{
            padding-left: 0px;
        }
        img {
            width: 100%;
            @include tablet{
                padding-left: 20px;
                padding-bottom: 70px;
            }
            @include mobile{
                padding-left: 0px;
            }
        }
    }

    .second--text {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 80px;
        @include mobile{
            width: 100%;
            padding-left: 0px;
            align-items: center;
        }

        // align-items: center;
        .text--big {
            font-size: 50px;
            color: white;
            margin: 30px 0px;
            @include tablet{
                margin: 10px 0;
            }
            @include mobile{
                font-size: 40px;
            }
    
        }

        .text--small {
            font-size: 20px;
            color: white;
            margin: 30px 0px;
            @include tablet{
                font-size: 25px;
                margin: 10px 0;
            }
        }

        .shop {
            background-color: white;
            width: 25%;
            margin: 30px 0px;
            border: none;
            padding: 17px 30px;
            cursor: pointer;
            transition-duration: .4s;

            &:hover {
                background-color: rgb(222, 222, 222);
            }
            @include tablet{
                font-size: 28px;
                width: 50%;
            }
        }
    }
}

.third--screen {
    display: flex;
    width: 100%;
    margin-top: 90px;
    @include tablet{
        flex-direction: column;
    }

    .third--text {
        width: 28%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        @include tablet{
            width: 100%;
            padding-left: 100px;
        }
        @include mobile{
            width: 100%;
            padding-left: 20px 0;
        }

        .text--big {
            font-size: 38px;
            margin: 30px 0px;
            @include tablet{
                font-size: 45px;
            }
        }

        .text--small {
            font-size: 14px;
            margin: 30px 0px;
            @include tablet{
                font-size: 30px;
            }
        }

        .shop {
            background-color: black;
            color: white;
            width: 41%;
            margin: 30px 0px;
            border: none;
            padding: 17px 30px;
            cursor: pointer;
            transition-duration: .4s;

            &:hover {
                background-color: rgb(222, 222, 222);
            }
            @include tablet{
                font-size: 30px;
                width: 30%;
            }
            @include mobile{
                font-size: 30px;
                width: 60%;
            }
        }
    }

    .third--images {
        display: flex;
        column-gap: 20px;
        height: 600px;
        @include tablet{
            display: flex;
            flex-direction: column;
            height: 0%;
            padding: 0 40px;
            // height: 1800px;
        }
        img {
            height: 90%;
            @include tablet{
                margin: 20px 0;
            }
        }
    }
}

.forth--screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/augustinelitek7jiv/img-YDz318GZ0WuvBwLg.jpg");
    background-attachment: fixed;

    p {
        color: white;
        font-size: 50px;
        @include mobile{
            font-size: 35px;
        }
    }
}

.fifth--screen {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-top: 70px;
    @include tablet{
        display: flex;
        flex-direction: column;
    }

    .fifth--clothing {
        width: 50%;
        @include tablet{
            width: 100%;
        }

        img {
            padding-left: 30px;
            width: 100%;
            @include tablet{
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        .clothing--text {
            padding-left: 30px;

            h3 {
                margin: 20px 0px;
                @include tablet{
                    font-size: 34px;
                }
            }

            p {
                margin: 20px 0px;
                @include tablet{
                    font-size: 30px;
                }
            }

            .clothing {
                margin: 30px 0px;
                background-color: black;
                color: white;
                border: none;
                padding: 17px 30px;
                cursor: pointer;
                transition-duration: .4s;
                &:hover {
                    background-color: rgb(155, 155, 155);
                }
                @include tablet{
                    font-size: 30px;
                }
            }
            }
        }

        .fifth--accessories {
            width: 50%;
            @include tablet{
                width: 100%;
            }

            img {
                width: 100%;
                padding-right: 30px;
                @include tablet{
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }

            .accessories--text {
               
                    @include tablet{
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                h3 {
                    margin: 20px 0px;
                    @include tablet{
                        font-size: 34px;
                    }
                }

                p {
                    margin: 20px 0px;
                    @include tablet{
                        font-size: 30px;
                    }
                }

                .accessories {
                    margin: 30px 0px;
                background-color: black;
                color: white;
                border: none;
                padding: 17px 30px;
                cursor: pointer;
                transition-duration: .4s;
                &:hover {
                    background-color: rgb(155, 155, 155);
                }
                @include tablet{
                    font-size: 30px;
                }
                }
            }
        }
}
.sixth--screen{
    height: 1000px;
    background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/augustinelitek7jiv/img-m57zVv6WWeTX3eep.png);
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    @include tablet{
        // align-items: center;
    }
    .sixth--text{
        width: 63%;
        @include tablet{
            width: 100%;
            padding: 0 30px;
        }
        @include mobile{
            padding-right: 20px;
        }
        h3{
            color: white;
            font-size: 30px;
            @include tablet{
                font-size: 42px;
            }
            @include mobile{
                font-size: 29px;
            }
        }
        h1{
            color: white;
            font-size: 50px;
            @include tablet{
                font-size: 55px;
            }
            @include mobile{
                font-size: 32px;
            }
        }
    }
    form{
        @include tablet{
            padding-left: 35px;
        }
        @include mobile{
            padding-left: 0px;
        }
        input[type=text]
        {
            width: 50%;
            padding: 20px 0px;
            @include tablet{
                width: 50%;
                padding: 20px 30px;
                font-size: 30px;
                margin: 30px 0;
            }
            @include mobile{
                width: 90%;
                font-size: 20px;
                padding: 20px 30px;
            }
        }
    }
    .join{
        width: 10%;
        margin: 30px 0px;
                background-color: black;
                color: white;
                border: none;
                padding: 17px 30px;
                cursor: pointer;
                transition-duration: .4s;
                @include tablet{
                    width: 40%;
                    margin-left: 30px;
                    font-size: 30px;
                }
                &:hover {
                    background-color: rgb(155, 155, 155);
                } 
    }
}
.seventh--screen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 30px;
    @include tablet{
        flex-direction: column;
    }
    .seventh--links{
        ul{
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            @include tablet{
                padding-right: 100px;
                margin: 80px 0;
            }
            li{
                a{
                    color: black;
                    &:hover{
                        text-decoration-line:underline;
                    }
                    @include tablet{
                        font-size: 30px;
                    }
                }
            }
        }
    }
    .seventh--help{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        @include tablet{
            padding-right: 100px;
        }
        h2{
            @include tablet{
                font-size: 40px;
            }
        }
        p{
            @include tablet{
                font-size: 30px;
            }
        }
        .seventh--icons{
            display: flex;
            column-gap: 20px;
            i{
                font-size: 25px;
                @include tablet{
                    font-size: 40px;
                }
            }
        }
    }
}